<div class="header--section">
    <div class class="main-header__logo" id="header-navigate">
        <img [src]="companyLogo" id="logo" alt="Onemoney - Logo" class="hdfc-logo" />
        <!-- <div class="logoutBtn cursor--pointer" *ngIf="router.url !== '/login'"  [class.visibility-hidden]="!isLoggedIn" (click)="logout()">Logout<img class="logout-icon" src="assets/images/pngs/logout.png/"></div> -->
    </div>
    <!-- {{companyLogo}} -->
    <div class="content-section">
        <app-authentication></app-authentication>
        <!-- <app-linking-stepper></app-linking-stepper> -->
    </div>
</div>