
@import "~src/styles.scss";

.enter-otp ::ng-deep .otp-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #979797;
    font-size: 20px;
    color: $primaryTextColor;
    width: 24px;
    height: auto;
    button {
      display: none;
    }
  }
  
  .enter-otp ::ng-deep button {
    display: none;
  }
  
  .otp-timer {
    padding-bottom: 5px !important
  }

  .account__link-form-right-status{
    position: absolute;
    right: 25px;
  }

  .discover__accounts__list__validating-form-elements{
    display: flex;
    align-items: center;
  }

  .otp-block{
    @media(max-width: 767px){
      flex-direction: column;
    }
  }

.discover__accounts__list__item {
    display: flex;
    @media(max-width:767px){
        flex-wrap: wrap;
    }
}
.discover__accounts__list {
    padding: 0;
    ::ng-deep app-form{
        .checkbox__image{
            background-position: 0 50%;
        }
    }
}

.otp__container{
    position: relative;
}

.error-msg{
    position: initial;
    @media(max-width:1024px){
        position: absolute;
        padding-right: 0;
        right: 0;
    }
    @media(max-width:767px){
        position: initial;
    }
}

.discovered-accounts-by-fitype {
  display: flex; 
  flex-direction: column;
}

.account__card--p-dialog ::ng-deep {
  .ui-widget {
    min-width: 385px !important;
    @media (max-width: 640px) {
      min-width: 300px !important;
    }
  }
}