.financial-institutions {
    min-width: 340px;
    flex: 1;
}
.fip-container{
    border-left: 3px solid #666666;
    padding: 0px 20px;
}
.cards__container{
    width: 100%;
}
.account-list-sections{
    display: flex;
    justify-content: space-between;
}
@media(max-width:767px){
    .account-list-sections{
        display: block;
    }
    .fip-container {
        border-top: 3px solid #666666;
        border-left:none;
}
}

.logo-format {
    width: 50%;
    float: right;
}

.mt-75 {
    margin-top: 75px;
}

h1, h2, h3, h4, h5 {
    color: black;
}

.cursor--pointer {
    cursor: pointer;
}

.poweredby-logo {
    position: absolute;
    right: 0;
    top: 100px;
}