@import "~src/styles.scss";

.otp-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #979797;
    font-size: 20px;
    color: #222222;
    width: 35px!important;
    height: auto;
    text-align: center;
    max-width: 45px;
    button {
        display: none;
    }
}

.center{
    text-align: center;
}

// .otp-input {
//     max-width: 45px;
//     // width: 100%;
//     // flex-grow: 1;
// }

.otp-container .otp-input:not(:last-child) {
    margin-right: 10px!important;
}

.otp-container{
    // display: flex;
}

.password__field{
    // -webkit-text-security: disc;
    // -moz-text-security:circle;
    // -moz-webkit-text-security: disc;
    // text-security:circle;
}