@import "~src/styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
input {
  font-size: 20px;
  color: #222222;
}

.text-input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #acacac;
  width: 100%;
  padding-left: 35px;
  
}

.input-lable-image {
  position: absolute;
  bottom: 4px;
  left: 0;
}

.form-field {
  position: relative;
  margin-bottom: 40px;
}

.password-hide-image {
  position: absolute;
  right: 0;
  cursor: pointer;
  height: 20px;
  width: 25px;
}

.forgot-pin-text {
  position: absolute;
  margin-top: 5px;
  margin-bottom: 10px;
  color:#079AFF;
  font-size: 14px;
  font-family: SansProItalics;
  cursor: pointer;
//   right: 0;
}

.checkbox {
  display: inline-block;
  cursor: pointer;
  span {
    cursor: pointer;
  }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
  font-family: SansProRegular;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
  width: 100% !important;
  font-family: SansProRegular;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size:16px;
  font-family: SansProRegular;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 20px;
  font-family: SansProRegular;
}
input[type="checkbox"] {
  width: 0;
  margin-left: 20px;
  visibility: hidden;
}

// input[type="checkbox"]::before {
//   content: "";
//   // display: inline-block;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   visibility: visible;
//   left: 0;
//   background-image: url(^assets/images/svgs/check-box-unchecked.svg);
//   background-repeat: no-repeat;
// }
input[type="checkbox"] + .checkbox__image {
  // display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: visible;
  left: 0;
  background-image: url(^assets/images/svgs/check-box-unchecked.svg);
  background-repeat: no-repeat;
}
input[type="checkbox"]:checked + .checkbox__image {
  content: "";
  // display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-image: url(^assets/images/svgs/check-box-checked.svg);
  background-repeat: no-repeat;
}
// input[type="checkbox"]:checked::before {
//   content: "";
//   // display: inline-block;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   left: 0;
//   background-image: url(^assets/images/svgs/check-box-checked.svg);
//   background-repeat: no-repeat;
// }

.otp-timer {
  color: #666666;
  font-size: 18px;
  padding-right: 35px;
}
.error-msg {
  position: absolute;
  font-size: 16px;
  color: #f26c63;
  right: 0;
  padding-right: 70px;
}

.form__terms-and-conditions-text {
  cursor: pointer;
  color: #079AFF;
}

.discover__accounts__list__validateing {
  display: flex;
}

.account__identifier-left-label {
  font-size: 16px;
  color: #666666;
}

.account__identifier-input {
  border: none;
  padding-right: 20px;
  border-bottom: 1px solid #C0BEBE;
  font-size: 16px;
  color: #222222;
}

.account_list-input {
  padding-right: 70px;
  position: relative;
  @media (max-width: 1024px) {
    padding-right: 0px;
  }
}

.account__list__item-logo {
  min-width: 130px;
}

.discover__accounts__list__validateing-form-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // width: 100%;
}

.discover__link-submit {
  border: 1px solid #079AFF !important;
  padding: 7px 18px 7px 18px;
  border-radius: 5px;
  background: #ffffff;
  font-size: 14px;
  color: #079AFF;
  cursor: pointer;
  margin-left: 40px;
}

.discover__link-cancel {
  font-size: 14px;
  color: #079AFF;
  background: none;
  border: none;
  cursor: pointer;
}

.input-non-editable {
  border-bottom: none;
  pointer-events: none;
  padding-right: 0px;
}

.discover__accounts__status-text {
  position: absolute;
  color: #079AFF;
}

.account__link-success-msg {
  padding-left: 40px;
  display: flex;
  align-items: center;
}
.account__link-success-msg-text {
  color: #a3d66d;
  padding-left: 10px;
}

.button-section {
  position: absolute;
  right: 25px;
}

.discover__accounts__list__validateing-form-section {
  .form-field {
    margin-bottom: 0px;
    padding-right: 60px;
  }
  input[type="checkbox"] {
    margin-left: 30px;
  }
  //input[type="checkbox"]::before{
    // background-image: url(^assets/images/svgs/account-link-check-box-unchecked.svg);
    // border: 1px solid #ccc;
    // border-radius: 5px;
    // height: 20px;
    // width: 20px;
  //}
//   input[type="checkbox"]:checked::before{
//     background-image: url(^assets/images/svgs/account-link-check-box-checked.svg);
//   }
  input[type="checkbox"]:checked + .checkbox__image{
    background-image: url(^assets/images/svgs/account-link-check-box-checked.svg);
  }
}

.discover__accounts__list__validateing input{
  padding-top: 5px;
}

@media (max-width: 1024px) {
  .account__identifier-input {
    width: 160px;
    padding-right: 10px;
  }
  .account_list-input {
    padding-right: 25px;
  }
  .discover__accounts__list__validateing-form-section {
    display: block;    
  }
  .discover__accounts__list__validateing{
    padding-top: 15px;
    padding-bottom: 10px;
    &:last-child{
      padding-top: 0px;
      padding-bottom: 0px;
    }
    &:first-child{
      padding-top: 0px;
    }
  }
  .error-msg{
      padding-right: 38px;
  }

}
@media (max-width: 767px) {
  .discover__accounts__list__validateing-form-section {
    display: flex;
    flex-direction: column;
  }
  .discover__accounts__list__validateing {
    margin-bottom: 30px;
  }
  .account__identifier-input {
    width: 100%;
  }
  .error-msg{
      padding-right: 25px;
  }
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  -moz-appearance:none;
  appearance: none;
  margin: 0; 
}

input[type=number]{
    -moz-appearance: textfield;
}

.help__text{
    color: #363536;
    position: absolute;
    right: 0;
    font-style: italic;
}

.otp__field{
    display: flex;
    img{
        padding-bottom: 0 !important;
        width: 26px ;
        height: 33px;
    }
}

.otp__input{
    border: none;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0px !important;
    margin-left: 10px;
}


input[type = checkbox]:checked ~ .highLightAccount{
        color: #99D25C;
}

.lock__img{
    margin-left: 10px;
    min-width: 26px;
    position: relative;
    top: 5px;
}

.form__field--parent--container:nth-last-child(2){
    .form-field{
        margin-bottom: 20px;
    }
}

.specific__width--checkbox{
    width: 20px !important;
}
.vua-label {
  display:flex;
  @media (max-width:767px){
    flex-direction: inherit;
    .static-vua{
      text-align:end;
    }
    .input-lable-image{
      bottom: 7px;
    }
    .text-input {
      width: 190px;
      max-width: 100%;
    }
  }
  
}

#text-mobileno::-ms-clear {
  display: none;
}
