@font-face {
    font-family: 'RobotoRegular';
    src: url(^assets/fonts/roboto_regular.ttf);        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansproItalics';
    src: url(^assets/fonts/SourceSansPro-Italic.ttf);         
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SansProRegular';
    src: url(^assets/fonts/sourcesanspro_regular.ttf);        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansproSemibold';
    src: url(^assets/fonts/sourcesanspro_semibold.ttf);        
    font-weight: normal;
    font-style: normal;
}
