//color variables 
 $linkColor : #079AFF;
 $primaryTextColor : #222222;
 $secondaryTextColor: #666666;
 $borderColor: #C0BEBE;

//font variables
$sansProRegular: 'SansProRegular';
$sansProSemibold: 'SansproSemibold';
$sansProItalics: 'SansproItalics';
$robotoRegular:'RobotoRegular';

// border
$greyBorder: #DCDCDC;
 
