@import "~src/styles.scss";

.nav__heading {
    font-size: 16px;
    color: #848384;
    margin-bottom: 25px;
}
.nav__steps {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.nav__step {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end   ;
    color: #848384;
    margin-right: 40px;
    line-height: 0.75;
    @media (max-width: 1279px) and (min-width: 1025px) {
        margin-right: 30px;
    }
    @media(max-width:767px){
        margin-right: 0;
    }
    .nav__step--icon {
        img {
            width: 100%;
            height: 100%;
        }
        app-svg {
            display: inline-block;
            width: 80px;
            height: 50px;
            @media (max-width: 767px){
                width: 74px;
            }
        }
    }
    .nav__step--index {
        font-size: 37px;
        margin-right: 10px;
        @media (max-width: 1279px) and (min-width: 1025px), (max-width: 767px) {
            font-size: 28px;
        }
    }
    .nav__step--content {
        display: flex;
        align-items: flex-end;
        @media (max-width: 768px) {
            display: block;
        }
    }
    .nav__step--name {
        font-size: 18px;
        margin-right: 10px;
        margin-top: 5px;
        @media (max-width: 1279px) and (min-width: 1025px) {
            font-size: 16px;
        }
        @media(max-width:767px){
            margin-right: 0;
            font-size: 16px;
        }
    }
    .nav__step--total {
        font-size: 15px;
        color: #ACACAC;
    }
    &::after {
        content: "";
        display: inline-block;
        width: 125px;
        height: 1px;
        background-color: #848384;
        @media (max-width: 1279px) and (min-width: 1025px), (max-width: 767px) {
            width: 75px;
        }
        @media (max-width: 768px) {
            width: 40px;
            display: none;
        }
    }
    @media (max-width: 1024px) {
        display: none;
        &.active {
            display: flex;
        }
    }
    &.done {
        color: #99D25C;
        &::after {
        background-color: #99D25C;
        }
    }
    &.active {
        color: $linkColor;
        &::after {
            background-color: $linkColor;
        }
    }
}