@import "~src/styles.scss";
.fi__small__card--data {
        width: 250px;
    }
.each__card {
    margin: 0 20px 10px 0;
 }
.fip-name{
    font-size:14px;
    font-weight:bold;
}
.fi__small__card {
    display: inline-block;
    padding: 5px 20px 30px;
    border-radius: 5px;
    position:relative;
    border: 1px solid #C0BEBE;
    height: 100%;
    .main {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    @media (max-width:640px){
        display: block;
        height: initial;
        .fi__small__card--data {
            width: 175px;
        }            
    }
}
.fi__small__card--icon {
    width: 55px;
    height: 50px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    img {
        max-height: 45px;
        max-width: 60px;
        margin-left:-10px;
    }
}
.text-coming{
    
    position: absolute;
    top: 12px;
    z-index: 2;
    right: 12px;
}
.fi__small__card--data {
    width: 280px;
    color: $primaryTextColor;
    .fi-heading {
        font-size: 16px;
    }
    .content {
        font-size: 14px;

    }
}

.FI__list__banks--all {
    flex: 1;
    .heading {
        position: relative;
        margin-bottom: 15px;
        &::after {
            content: "";
            display: none;
            position: absolute;
            left: 100%;
            top: -34px;
            bottom: -4px;
            height: 40px;
            background: #FF857D;
            width: 20px;
        }

        @media (max-width: 1024px) {
            &::after {
                display: inline-block;
            }
        }
        .show__selected {
            display: none;
            position: absolute;
            right: 0;
            top: -34px;
            bottom: -4px;
            background: #FF857D;
            padding: 20px;
            border-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            .show__selected--icon {
                width: 26px;
                height: 21px;
                margin-right: 10px;
            }
            .show__selected--count {
                font-size: 20px;
                color: #fff;
            }
            @media (max-width: 1024px) {
                display: flex;
                align-items: center;
            }
        }
    }
    .list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .each__card {
            margin: 0 40px 25px 0;
            @media (max-width: 640px) {
                margin-right: 0;
            }
        }
        @media (max-width: 1024px) {
            justify-content: flex-start;
        }
        @media (max-width: 767) {
            justify-content: center;
        }
    }
    .each__card {
        &.selected {
            position: relative;
            &::after {
                content: "";
                display: inline-block;
                width: 25px;
                height: 25px;
                background: url(^assets/images/pngs/tik.png);
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 0;
                margin: 10px;
            }
        }
        @media(max-width:640px){
            width: 100%;
        }
    }
}
.FI__list__banks {
    display: flex;
    .FI__list__banks--selected {
        @media (max-width: 1024px) {
            display: none;
            margin: 0 auto;
        }
    }
}
.FI__list__banks--selected {
    .heading {
        margin-bottom: 15px;
    }
    width: 300px;
    min-width: 300px;
    border-left: 1px solid #C0BEBE;
    padding-left: 35px;
    @media (max-width: 1024px) {
        padding: 0;
        border: none;
    }
    @media(max-width:640px){
        width: initial;
    }
    .list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .each__card {
            position: relative;
            width: 100%;
            ::ng-deep {
                .fi__small__card {
                    border: none;
                    border-radius: 0;
                    padding-left: 0;
                    width: 100%;
                    padding-right: 0;
                    border-bottom: 1px solid #C0BEBE;
                }
            }
            .each__card--item {
                &::after {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: url(^assets/images/svgs/unselect.svg);
                    position: absolute;
                    top: 0;
                    right: -20px;
                    margin: 15px;
                }
            }
            @media(max-width:640px){
                width: 100%;
            }
        }        
    }
}